/*Selector {
	Property: value;
}*/

body {
	background-image: url(backgroundimage.jpg);
	background-size: cover;
}

h1 {
	color: #1c261c;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #1c261c;
}

.nav li {
	list-style: none;
	display: inline-block;
}