/*Selector {
	Property: value;
}*/

/*background image*/

body {
	background-image: url(backgroundimage.jpg);
	background-size: 85em;
	background-repeat: no-repeat;
}

/*navigation links*/

.nav {
	margin: -10px;
	padding: 20px 0px 20px 0px;
	background-color: rgba(2, 38, 54, 0.2);
	list-style-type: none;
	text-align: center;
}

.nav li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
}

.nav a:link {
	text-decoration: none;
	color: black;
}

.nav a:visited {
	text-decoration: none;
	color: black;
}

.nav a:hover {
	margin: -10px;
	padding: 20px 10px 20px 10px;
	background-color: rgba(2, 38, 54, 0.2);
	text-align: center;
	text-decoration: none;
	color: white;
}

#main_header {
	font-family: 'Fjalla One', sans-serif;
	font-size: 35px;
	color: white;
	text-align: center;
}

/*flex container properties*/

.flex-container {
	display: flex;
	flex-flow: column wrap;
	margin-top: 2em;
	margin-left: 3em;
	width: 450px;
}

/*elements within flex container*/

.flex-container .header {
	margin-bottom: 0px;
	border-style: hidden;
	width: 225px;
	height: 55px;
	background-color: rgba(59, 68, 81, 0.4);
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	text-align: center;
	color: white;
}

#summary {
	border-style: hidden;
	padding: 1em 2em;
	width: 20em;
	background-color: rgba(255, 255, 255, 0.7);
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: rgb(59, 68, 81);
}

#disclaimer {
	color: white;
}

/*footer*/

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: rgba(2, 38, 54, 0.2);
	text-align: center;
	font-size: 1em;
	color: white;
}

footer a:link {
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	color: rgb(141, 153, 178);
}

footer a:visited {
	text-decoration: none;
	color: rgb(141, 153, 178);
}

footer a:hover {
	text-decoration: none;
	color: white;
}



