/*Selector {
	Property: value;
}*/

/*background image*/

body {
	background-image: url(backgroundimage.jpg);
	min-height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

/*navigation links*/

.nav {
	margin: -10px;
	padding: 20px 0px 20px 0px;
	background-color: rgba(2, 38, 54, 0.2);
	list-style-type: none;
	text-align: center;
}

.nav li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
}

.nav a:link {
	text-decoration: none;
	color: black;
}

.nav a:visited {
	text-decoration: none;
	color: black;
}

.nav a:hover {
	margin: -10px;
	padding: 20px 10px 20px 10px;
	background-color: rgba(2, 38, 54, 0.2);
	text-align: center;
	text-decoration: none;
	color: white;
}

/*main header*/

#main_header {
	font-family: 'Fjalla One', sans-serif;
	font-size: 35px;
	color: white;
	text-align: center;
}

/*flex-container1 properties*/

.flex-container1 {
	display: flex;
	flex-flow: column wrap;
	margin-top: 2em;
	margin-left: 3em;
}

/*elements within flex-container1*/

.flex-container1 .header {
	margin-bottom: 0px;
	border-style: hidden;
	width: 225px;
	height: 55px;
	background-color: rgba(59, 68, 81, 0.4);
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	text-align: center;
	color: white;
}

.flex-container1 #summary {
	padding: 1em 2.25em;
	width: 300px;
	background-color: rgba(255, 255, 255, 0.7);
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: rgb(59, 68, 81);
}

/*flex-container2 properties*/

.flex-container2 {
	display: flex;
	flex-flow: column wrap;
	margin-top: 50px;
	margin-left: -10px;
	margin-right: -10px;
}

/*elements within flex-container1*/

.flex-container2 #history {
	padding: 2em 4em;
	background-color: white;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	color: rgb(59, 68, 81);
}

.flex-container2 #services {
	padding: 2em 4em;
	background-color: white;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	color: rgb(59, 68, 81);
}

.flex-container2 h2 {
	text-align: center;
}

/*flex-container3 properties*/

.flex-container3 {
	display: flex;
	flex-flow: column wrap;
	margin-top: 50px;
	margin-left: -10px;
	margin-right: -10px;
}

/*elements within flex-container3*/

.flex-container3 .footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 2em;
	padding: 1em;
	background-color: rgba(2, 38, 54, 0.2);
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 1em;
	color: white;
}

/*footer links*/

.footer a:link {
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	color: rgb(141, 153, 178);
}

.footer a:visited {
	text-decoration: none;
	color: rgb(141, 153, 178);
}

.footer a:hover {
	text-decoration: none;
	color: white;
}



